@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Lato', sans-serif;
    background-color: var(--dark-color);
}

:root {
    --dark-color: #000000;
    --main-color: #CF0A0A;
    --second-color: #DC5F00;
    --light-color: #EEEEEE;
}

.pasif-page {
    opacity: 0.5;
    pointer-events: none;
}

.fa-circle-arrow-left,
.fa-circle-arrow-right {
    color: var(--main-color);
}

/* navbar */
#my-navbar {
    padding: 15px 0 ;
}
#my-navbar-container {
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
}

.dropdown-menu {
    background-color: var(--main-color);
}

/* header */
#header {   
    /* padding-top: 100px; */
    width: 100%;
    min-height: 100vh;
}

.card-body {
    width: 100%;
    height: 300px;
    background-color: var(--dark-color);
}
.card-img-top {
    height: 70vh;
}


.card-body::-webkit-scrollbar {
    background: transparent;
    width: 4px;
    height: 4px;
}

.card-body::-webkit-scrollbar-corner {
    background: transparent;
}

.card-body::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
}

.card-body:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.card-body .film-isim {
    font-size: 30px;
    color: var(--second-color);
}

.card-body .puanlama {
    font-size: 20px;
    color: var(--second-color);
}

.card-body .movie-konu {
    color: var(--light-color);
}

.movie-col {
    cursor: pointer;
}


#detail-img img {
    width: 100%;
    height: 100%;
}

#detail-header #datail-title {
    font-size: 50px;
    color: var(--second-color);
}

#detail-overview,
#detail-slogan {
    color: var(--light-color);
}

#datail-vote {
    border-radius: 50%;
    font-size: 50px;
    background-color: var(--second-color);
    padding: 10px;
    color: var(--light-color);
}

#detail-overview,
#detail-slogan {
    font-size: 30px;
}

#detail-tur,
#datail-back-btn {
    font-size: 20px;
    color: var(--second-color);
}

.detail-cast-card {
    cursor: pointer;
}

.detail-overview {
    /* height: 50vh; */
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fa-reply-all::before {
    margin-left: 10px;
}

.cast-card p {
    color: var(--second-color);
}

.cast-img {
    height: 35vh;
}

.cast-card .card-body {
    height: 220px;
}

.anaSayfaDon .btn {
    font-size: 20px;
    color: var(--second-color);
}

#aramaForm button {
    background-color: var(--main-color);
    color: var(--dark-color);
}


.fa-magnifying-glass::before,
.fa-question,
.fa-bell {
    margin-right: 5px;
}

#pagination-container #pages {
    gap: 50px;
}

/* footer */
#my-footer-container {
    width: 100%;
    background-color: var(--main-color);
    border-radius: 8px;
    margin-bottom: 10px;
}

.fa-instagram,
.fa-twitter,
.fa-youtube {
    color: var(--light-color);
    padding: 0 5px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.go-up a {
    color: var(--second-color);
    position: fixed;
    bottom: 25px;
    right: 25px;
}

#pageNo {
    color: var(--light-color);
    font-size: 20px;
}
#pageNo span {
    padding: 3px;
}




/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--dark-color); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--second-color); 
}

/* mobile */
@media (max-width :765px) {
    #tanitim {
        flex-direction: column!important;
    }

    .navbar-collapse {
        text-align: center;
    }

    .row>* {
        padding-left: 0;
        padding-right: 0;
    }

    #my-footer-container {
        border-radius: 5px;
        margin-bottom: 0;
    }

    #detail-header #datail-title,
    #detail-header #datail-vote {
        font-size: 30px;
    }

    #detail-overview,
    #detail-slogan {
        font-size: 20px;
    }

    #detail-tur {
        font-size: 15px;
    }

    #detail-img{
        height: 50vh;
    }

    .cast-img {
        height: 100%;
        width: 35vw;
    }

    .cast-card {
        height: 30vh;
        display: flex;
        flex-direction: row;
    }

    .cast-card .card-body {
        height: 100%;
    }

    .line-clamp {
        -webkit-line-clamp: 3;
    }   
}




